/* Submit */
.Button.button {
  width: 175px;
  height: 41px;
  display: flex;
  position: relative;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #F4CE14;
  border-radius: 16px;
  align-items: center;
  justify-content: center;

  span {
    position: relative;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  .svg {
    position: absolute;
    height: 35px;
    width: 45px;
    left: 120px;
  }
}

.Button.clicked {
  background-color: #EE9972; /* Remove !important if not needed */
}