.Pill {
  &.pill {
    /* Pill */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    // padding: 10px;
    // gap: 10px;

    // width: 69px;
    height: 39px;

    background: #EDEFEE;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;

    justify-content: center;
    align-items: center;
    // scrollbar-width: none;
    span {
      /* Label */
      // width: 49px;
      height: 19px;

      font-family: 'Karla';
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 19px;
      /* identical to box height */
      text-transform: capitalize;

      color: #495E57;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 10px;
    }
  }
}