.Menu {
  &.menu {
    /* Frame 4 */

    position: relative;
    width: 396px;
    margin: 16px;
    // top: 578px;
    // overflow-y: scroll;
    height: 296px;
    overflow: hidden;
    .cards {
      /* Cards */

      /* Auto layout */
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 16px 0px 0px;
      gap: 10px;

      position: relative;
      width: 396px;
      height: 695px;
      // height: max-content;
      left: 0px;
      top: 0px;
      overflow-y:scroll
      // overflow-y: scroll;
    }
  }
}